.speed-controller {
    position: fixed;
    left: 50%;
    bottom: 0;
    z-index: 1;
    width: 150px;
    margin-left: -75px;
}

.x_str {
    background: #fff;
    border: solid 2px #0C5B8E;
    border-right: none;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box;
    color: #222;
    display: inline-block;
    font-size: 1rem;
    padding: 4px 0 5px 6px;
    vertical-align: middle;
}

#speed-num {
    background: #fff;
    border: solid 2px #0C5B8E;
    border-left: none;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-sizing: border-box;
    color: #222;
    display: inline-block;
    font-size: 1rem;
    padding: 4px 6px 5px 0;
    vertical-align: middle;
    width: 3.5em;
    outline: none;
}